<div class="block-center">
    <div class="section__title">Portfolio</div>

    <div class="portfolioWrapper">

        <div class="portfolioItem">

            <div>
                <img src="./static/img/portfolio/page-1.jfif" alt="">
            </div>

            <div class="portfolioHref">
                <a href="">Online fashion store - Homepage</a>
            </div>

        </div>

        <div class="portfolioItem">

            <div>
                <img src="./static/img/portfolio/page-2.jfif" alt="">
            </div>

            <div class="portfolioHref">
                <a href="">Reebok Store - Concept</a>
            </div>

        </div>

        <div class="portfolioItem">

            <div>
                <img src="./static/img/portfolio/page-3.jfif" alt="">
            </div>

            <div class="portfolioHref">
                <a href="">Braun Landing Page - Concept</a>
            </div>

        </div>

    </div>
</div>