<div class="block-center">

    <div class="section__title">Skills</div>
    <div style="text-align: center; margin-bottom: 80px;" class="section__text">I work in such programs as</div>
    <div class="skillsWrapper">

        <div class="skillItem">
            <div class="skillItem-logo">
                <div>
                    Ps
                </div>
            </div>

            <p>Adobe Photoshop</p>

            <div class="skillItem-stars">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg" class="startInvert">
            </div>
        </div>

        <div class="skillItem">
            <div class="skillItem-logo">
                <div>
                    Ai
                </div>
            </div>
            <p>Adobe illustrator</p>

            <div class="skillItem-stars">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg" class="startInvert">
                <img src="./static/img/icons/star.svg" class="startInvert">
            </div>
        </div>

        <div class="skillItem">
            <div class="skillItem-logo">
                <div>
                    Ae
                </div>
            </div>
            <p>Adobe After Effects</p>

            <div class="skillItem-stars">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg" class="startInvert">
            </div>
        </div>

        <div class="skillItem">
            <div class="skillItem-logo-2">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Figma</p>

            <div class="skillItem-stars">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg">
                <img src="./static/img/icons/star.svg" class="startInvert">
            </div>
        </div>

    </div>
</div>