<section class="section-home"></section>
<section class="section-aboutMe"></section>
<section class="section-skills"></section>
<section class="section-portfolio"></section>


<script src="./js/jquery/jquery.js"></script>
<script>
    $('.section-home').load('./templates/main/section/home.html');
    $('.section-aboutMe').load('./templates/main/section/aboutMe.html');
    $('.section-skills').load('./templates/main/section/skills.html');
    $('.section-portfolio').load('./templates/main/section/portfolio.html');
</script>