<div class="block-center">

    <div class="section__title">Contacts</div>

    <div class="gilroyM">
        Want to know more or just chat? 
            You are welcome!
    </div>

    <div class="gilroyB footer-sendMessage">Send Message</div>

    <div class="footer__networks">

        <div><img src="./static/img/icons/footer/linkedin.svg" alt=""></div>
        <div><img src="./static/img/icons/footer/instagram.svg" alt=""></div>
        <div><img src="./static/img/icons/footer/behance.svg" alt=""></div>
        <div><img src="./static/img/icons/footer/dribble.svg" alt=""></div>

    </div>

    <div class="gilroyM footer__last">
        <div>Like me on</div>
        <div>LinkedIn, Instagram, Behance, Dribble</div>
    </div>

</div>